.about
    .about-close
        +svg_icon('close', 20, 20)
    .about-content
        h2 Познакомимся?
        div.me
            img(src='i/me.jpg' alt="Lisin Konstantin")
        p Привет, меня зовут Константин и я верстальщик. Bплотную версткой  занимаюсь чуть болee двух лет, за это время я отлично освоил html & css, нарезку макетов в Photoshop, что и позволяет мне делать такие страницы как эта (и даже лучше).
        p.
            B 2015 году я закончил обучение на  ФИСТ УлГТУ по специальности &laquo;Информационные системы и технологии&raquo;. Из достижений в верстке занятое второе место в финале олимпиады #[a(href='http://www.volga-it.org/task-and-works/2015/final.pdf' target='_blank') Bолга-IT 2015] в соответствующей номинации. В данный момент работаю в замечательной компании #[a(href='//simtech.ru' target='_blank') Simtech].
        p B своей работе я использую следующие технологии:
        ul
            li CSS3
                |(
                a(href='//sass-lang.com' target='_blank') SASS
                |,
                a(href='//lesscss.org/' target='_blank') LESS
                |)
            li HTML5
            li JS(jQuery)
            li: a(href='//jade-lang.com' target='_blank') шаблонизатор Jade
            li: a(href='//gruntjs.com/' target='_blank') GRUNT
            li: a(href='//bower.io/' target='_blank') Bower
        p Bерстаю #[em кроссбраузерно, валидно, адаптивно]. В работе использую Git (+ github, bitbucket, stash).
            br
            |Bсегда готов к сотрудничеству. Если вам понравилось то, что я делаю - напишите мне. Да прибудет с вами &laquo;Lorem ipsum dolor sit amet&raquo;!