.about
    .about-close
        +svg_icon('close', 20, 20)
    .about-content
        h2 Познакомимся?
        div.me
            img(src='i/me.jpg' alt="Lisin Konstantin")
        p Привет, меня зовут Константин и я html-верстальщик.
        p.
            B 2015 году я закончил обучение на  ФИСТ УлГТУ по специальности &laquo;Информационные системы и технологии&raquo; и занял второе место в финале олимпиады #[a(href='http://www.volga-it.org/task-and-works/2015/final.pdf' target='_blank') Bолга-IT 2015] в номинации "Вёрстка". С тех пор вот уже почти три года я занимаюсь вёрсткой и в данный момент работаю в замечательной компании #[a(href='//simtech.ru' target='_blank') Simtech].
        p Умею, практикую и использую следующие технологии и инструменты:
        ul
            li CSS3
                |(
                a(href='//sass-lang.com' target='_blank') SASS
                |,
                a(href='//lesscss.org/' target='_blank') LESS
                |)
            li HTML5
            li JS(jQuery)
            li шаблонизаторы Jade, Smarty
            li таскраннеры Grunt и Gulp
            li npm, bower
        p Bерстаю #[em кроссбраузерно, валидно, адаптивно]. Работаю с Git (bitbucket или stash, github), jira.
            br
            |Bсегда готов к сотрудничеству. Если вам понравилось то, что я делаю - напишите мне. Да прибудет с вами &laquo;Lorem ipsum dolor sit amet&raquo;!