.footer
    .line
    ul.social
        li: a.vk(href='//vk.com/id244766127')
            +svg_icon('vk', 21, 21)&attributes({viewBox: '0 0 1097 1024'})
        li: a.skype(href='callto:sd_klisin')
            +svg_icon('skype', 18, 18)
        li: a.mail(href='mailto:klisin@simtechdev.com')
            +svg_icon('mail', 18, 18)
    .copy
            .copy-container
            |&copy;&nbsp;2015 - 2017  Костя inc.