head

    title= 'Лисин Константин. Портфолио верстальщика'

    meta(charset='utf-8')

    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='author' content='Лисин Константин')

    meta(name="keywords" content='Портфолио, верстка, html, css, адаптивная, резюме, фронтенд, frontend, adaptive, html верстка, портфолио верстальщика, верстка сайтов, html-верстка')
    meta(name="description" content="Люблю адаптивную и кроссбраузерную верстку, чистый и лаконичный дизайн, pixel perfect и новинки веб-технологий")

    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(href='//fonts.googleapis.com/css?family=Poiret+One|Comfortaa:300,400,&subset=cyrillic,latin',  rel='stylesheet')

    //- Project styles
    link(rel='stylesheet', href='css/styles.css')

    //-  Google Tag Manager script
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-W87RHFK');