script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js')
script(src='js/scripts.js')
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W87RHFK" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>