mixin marker
    +svg_icon('check')&attributes({class: 'marker', viewBox: '0 0 864 1024'})

mixin portfolio_item(item)
    .grid-item(class= item.category)
        a.grid-item-content(href= item.link target='_blank')
            .alt-description
                .alt-content(class= item.color)
                    h3= item.name
                    p= item.description
                    .underline
                    +svg_icon('search')
                    .year= item.year ? item.year : 2015
            .item-pic
                img(src= 'i/min/'+item.img, class!= attributes.class)
                if item.marker
                    +marker()

mixin svg_icon(name, width, height)
    svg(width= (width? width: 35) height= (height? height: 35) viewBox='0 0 1024 1024')&attributes(attributes)
        <use xlink:href="##{name}"/>