mixin marker
  i.marker.pe-7s-check

mixin portfolio_item(category, img, name, description, link, color, year)
    .grid-item(class= category)
        a.item-cont(href= link target='_blank')
            .alt-description
                .alt-content(class= color)
                    h3= name
                    p= description
                    .underline
                    i.view.pe-7s-search
                    .year= year ? year : 2015
            .item-pic: img(src= 'i/min/'+img, class!= attributes.class)
            if block
                block