//- Mixins and helper markup
include includes/mixins.pug

doctype html
html(lang="ru")
    block head
        include includes/page_sections/head.pug

    body
        block body_meta
            include includes/svg.pug

        block header
            include includes/page_sections/header.pug

        block main_content
            include includes/page_sections/main_content.pug

        block footer
            include includes/page_sections/footer.pug
            include includes/page_sections/about.pug

        block scripts
            include includes/page_sections/scripts.pug

