@import 'variables';

body {
    height: 100%;

    font-family: $comfortaa;
    font-weight: 700;

    background-color: $lt-gray;
    overflow-x: hidden;

    &.opened {
        @include max($custom){
              overflow: hidden;
        }
    }
}

body * {
    box-sizing: border-box;

    outline: none;
}

::selection {
    background-color: #bbf3b1;
}

:link {
    text-decoration: none;

    color: inherit;
}

:visited {
    color: inherit;
}

[class*='-container'] {
    width: $container-width;
    margin: 0 auto;

    @include max($big) {
        width: 100%;
    }
}

.logo {
    float: left;

    margin-top: 19px;

    font: bold 32px $poiret;

    @include max($xsmall) {
        display: inline-block;
        float: none;
        margin: 20px 0;
    }

    span:first-child {
        color: #b8b8b8;
    }

    span:last-child {
        color: #000;
    }

    span {
        @include max($small) {
          display: none;
        }
    }

    svg {
        display: none;
        font-size: 47px;

        @include max($small) {
         display: block;
        }
    }
}

.nav {
    position: relative;
    float: right;

    margin-top: 28px;

    font-family: $comfortaa;
    font-size: 18px;

    text-transform: capitalize;
    z-index: 10;

    @include max($xsmall) {
        float: none;
        margin: 0 0 20px;
        padding: 7px;
    }

    & > li {
        position: relative;

        display: inline-block;

        margin-right: 20px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        & > span {
            padding: 5px 0;
            display: inline-block;
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 2px;

            content: '';
            transition: all .4s $bouncy;
            transform: scaleX(0);
            transform-origin: 50% 0;

            opacity: 0;
            background-color: $yellow;
        }

        &.active,
        &:hover {
            &:after {
                transform: scaleX(1);

                opacity: 1;
            }
        }
    }
}

.line {
  $size: 100;
  $size2: 300;
  $colors2: $red,
            $blue,
            $yellow;
  $colors:
        #f8b82c,
        #f2893b,
        #e3573f,
        #c24f79,
        #8966cc,
        #1497cb,
        #00b967,
        #9bc035;

  height: 5px;

  @include rainbow-line($size2, $colors2);

  @include max($small) {
    height: 8px;
  }
}

.header {
    min-height: 85px;

    border-bottom: 2px solid $sd-gray;
    background-color: #fff;

    @include max($xsmall) {
        min-height: 0;
        text-align: center;
    }
}

.header-container,
.copy-container {
     padding: 0 15px;
}

.header-container {
    min-height: 85px;
    position: relative;

    .lk {
        position: absolute;
        width: 300px;
        height: 85px;
        overflow: hidden;
        left: 135px;
        top: 2px;
        font-family: 'Lobster 1.4';
        text-transform: uppercase;
        font-size: 50px;
        color: #ccc;
        color: transparent;
        background: url($lk0) 0 33px no-repeat;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include max($xsmall) {
            display: none;
        }
    }
}

.content {
    //  min-height: 500px;

    text-align: center;
     overflow: hidden;
}

.cats {
    display: inline-block;

    margin: 50px 0;
    padding: 20px 50px;

    font-size: 20px;

    text-align: center;

    color: #111;
    border-bottom: 2px solid $tr-gray;

    @include max($medium) {
        padding-left: 0;
        padding-right: 0;
    }

    @include max(730px) {
        width: 100%;
        border: none;
        margin: 25px 0;
    }

    li {
        position: relative;

        display: inline-block;

        margin-right: 25px;

        cursor: pointer;
        transition: all .4s ease;
        text-transform: capitalize;

    @include max($medium1) {
      padding: 15px;
      margin: 0;
    }

    &:last-child {
      margin-right: 0;
    }


    &:before,
    &:after {
      position: absolute;
      bottom: -21px;
      left: 50%;

      display: block;

      width: 0;
      height: 0;

      content: '';
      transition: transform .4s ease;
      transform: translateX(-50%) scale(0);
      transform-origin: 50% 100%;

      border-right: 12px solid transparent;
      border-bottom: 12px solid $tr-gray;
      border-left: 12px solid transparent;

      @include max($medium1) {
        content: none;
      }
    }

    &:after {
      bottom: -24px;

      border-bottom-color: $lt-gray;
    }

    &:hover {
      color: #aaa;
    }

    &.active {
        color: #111;
        background-color: $blue;

        &:before,
        &:after {
            transform: translateX(-50%) scale(1);
        }
    }
  }

    span {
        font-family: $comfortaa;
        display: inline-block;
    }
}

.grid {
    transition: height .8s ease-out;

    &-container {
        min-height: 500px;
        margin-bottom: 50px;
    }

    &-item {
        width: $container-width / 4 - 15 * 2;
        height: 250px;
        margin: 10px 15px 20px;
        overflow: hidden;
        box-shadow: 0 0 0 4px #fff, 0 0 10px 4px rgba(0,0,0,0.1);

        &-content {
            position: relative;
            display: block;
            background-color: #ccc;

            overflow: hidden;
            cursor: pointer;
            transform: translateY(-250px);
            height: 200%;
            transition: transform .2s ease-in;

            img {
                max-width: 100%;
            }
        }

        &:hover {
            .grid-item-content {
                transform: translate(0);
            }
        }

        .view {
            display: inline-block;
            font-size: 42px;
        }

        .item-pic {
            overflow: hidden;

            width: 100%;
        }

        @include max($big) {
            width: 33.33333333%;
        }

        @include max($medium) {
            width: 50%;
        }

        @include max($small2) {
            width: 100%;
        }
    }
}

.alt-description {
    position: relative;

    width: 100%;
    height: 50%;

    transition: margin .2s cubic-bezier(.420, .000, 1.000, 1.000);

    color: #000;
    background-color: #fff;
    z-index: 100;
}


.alt-content {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 90%;
    line-height: 1.5;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

    h3 {
        margin-bottom: 10px;

        font-size: 20px;
        font-weight: bold;
    }

    p {
        font-size: 14px;

        color: #a0a0a0;
        font-weight: 300;
    }
}

.underline {
    width: 40px;
    height: 3px;
    margin: 15px auto;

    background-color: $blue;
}

.year {
    font-size: 14px;
    font-weight: 100;
    color: $blue;
}

.blue {
    & .underline {
        background-color: $blue;
    }

    & .year {
        color: $blue;
    }
}

.yellow {
    & .underline {
        background-color: $yellow;
    }

    & .year {
        color: $yellow;
    }
}

.red {
    & .underline {
        background-color: $red;
    }

    & .year {
        color: $red;
    }
}

.item-cont {
    &.active,
    &:hover {
        .alt-description {
            margin-top: 0;
        }

        .scale-description {
            transform: scale(1);

            opacity: 1;
        }
    }
}

.scale-description {
    position: absolute;
    z-index: 100;

    width: 100%;
    height: 100%;

    transition: all .4s ease;
    transform: scale(0);

    opacity: 0;
    color: #111;
    background-color: $yellow;
}

.scale-content {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 64px;

    transform: translate(-50%, -50%);
}

.footer {
    position: relative;

    text-align: center;

    color: #fff;
    background-color: #444;

    .line {
        $size: 200;
        $color: #555;
        $colors: $color;

        height: 8px;

        @for $i from 1 through 3 {
            $color: $color + 17*$i;
            $colors: append($colors, $color);
        }

        @include rainbow-line($size, $colors);
    }
}

.social {
    padding: 28px 0 20px;

    font-size: 0;

    li {
        display: inline-block;

        margin: 0 7px;
    }

    a {
        position: relative;

        display: inline-block;

        width: 40px;
        height: 40px;

        transition: all .3s ease;

        border-radius: 2px;
        background-color: #333;
    }

    svg {
        position: absolute;
        fill: #fff;

        @include absolute_center();
    }

    .vk {
        &:hover {
            color: #fff;
            background-color: #54769a;
        }
    }

    .skype {
        &:hover {
            color: #fff;
            background-color: #00a9e7;
        }
    }

    .mail {
        &:hover {
            background-color: #e34c41;
        }
    }
}

.copy {
    padding: 25px 0 20px;

    text-align: center;

    color: #5e5e5e;
    background-color: #333;
}

.curx {
    cursor: crosshair;
}

.about {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;
    padding: 25px;

    transition: left .3s cubic-bezier(.7, 0, .3, 1);

    @include max($custom){
        padding: 0;
    }

    &.opened {
        transition-duration: .5s;
        left: 0;
    }
}

.about-close {
    position: absolute;
    top: 55px;
    right: 55px;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 0;

    fill: #fff;

    @include max($small){
        top: 23px;
        right: 25px;
        padding: 10px;
        background-color: rgba(0,0,0,.7);
    }

    &:hover {
        fill: $yellow;
    }
}

.about-content {
    overflow: hidden;

    width: 100%;
    height: 100%;
    padding: 45px 55px;

    font-weight: 300;
    font-size: 16px;
    color: #fff;

    background-color: rgba(0,0,0,.95);

    -webkit-backface-visibility: hidden;

    @include max($custom) {
        overflow-y: scroll;
        padding: 30px 30px 30px 20px;
    }

    h2 {
        margin-bottom: 25px;

        font: 38px 'Poiret One',sans-serif;

        text-align: center;
        text-transform: uppercase;
    }

    p {
        margin: 12px 0;

        line-height: 1.7;

        text-indent: 40px;
    }

    a {
        color: $yellow;
        transition: color .3s ease;

        &:hover {
        color: darken($yellow, 15%);
        }
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
        margin-left: 40px;
        line-height: 1.5;
    }

    @include max($small) {
        h2 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }
    }
}

.contacts {
    position: absolute;
    z-index: 100;
    top: 35px;
    left: 50%;

    display: block;
    visibility: hidden;

    font-weight: 300;

    transition: all .3s;
    transform: translateX(-50%);

    opacity: 0;
    color: rgb(103, 103, 103);
    border: 2px solid #b5b5b5;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 0 7px rgba(210,210,210, .3);

    @include max($mobile) {
        left: 95%;
    }

    &:before {
        position: absolute;
        top: -12px;
        left: 50%;

        display: block;

        width: 0;
        height: 0;

        content: '';
        transform: translateX(-50%);

        border-right: 12px solid transparent;
        border-bottom: 12px solid #b5b5b5;
        border-left: 12px solid transparent;
    }

    &:after {
        position: absolute;
        top: -10px;
        left: 50%;

        display: block;

        width: 0;
        height: 0;

        content: '';
        transform: translateX(-50%);

        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        border-left: 10px solid transparent;
    }

    $base-height: 18px;
    $padding: 8px;
    $mob-padding: 15px;

    li {
        transition: background-color .3s;

        border-bottom: 1px solid #dbdbdb;

        &:hover {
            background-color: rgba(210,210,210, .3);

            div:first-child {
            margin-top: -$padding*2 - $base-height;

                @include max($xsmall) {
                    margin-top: -$mob-padding*2 - $base-height;
                }
            }
        }

        &:last-child {
            border: none;
        }
    }

    a {
        display: block;
        height: $base-height + 2*$padding;
        overflow: hidden;

        @include max($xsmall) {
            height: $base-height + 2*$mob-padding;
        }
    }

    div {
        padding: $padding;
        transition: all .3s ease;
        text-align: center;
        font-family: $comfortaa;
        text-transform: none;

        @include max($xsmall) {
            padding: $mob-padding;
        }
    }
}

.active {
    & .contacts {
        visibility: visible;

        opacity: 1;
    }
}

em {
    color: $blue;
}

.marker {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    font-size: 32px;
    fill: #fff;
    background-color: rgb(42, 145, 67);
    border-radius: 50%;
}

.me {
    width: 180px;
    height: 180px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    float: left;
    background-color: #fff;

    img {
        max-width: 100%;
    }

    @include max($small) {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    @include min($medium1){
        box-sizing: content-box;
        border-radius: 0;
        transform: rotate(-5deg);
        transform: rotate3d(0, 0, 1, -5deg);
        border: 6px solid #fff;
        border-bottom-width: 18px;
    }
}

.hidden {
    display: none;
}

.scale-up {
    transition: $default-transition;
    transform: scale(0);

    opacity: 0;

    &.in {
        transform: scale(1);

        opacity: 1;
    }
}

.slide-up {
    transition: $default-transition;
    transform: translateY(200px);

    opacity: 0;
}

.slide-down {
    transition: $default-transition;
    transform: translateY(-200px);

    opacity: 0;
}

.slide-left {
    transition: $default-transition;
    transform: translate(-100px);

    opacity: 0;
}

.slide-right {
    transition: $default-transition;
    transform: translate(100px);

    opacity: 0;
}

.in {
    transform: translate(0);

    opacity: 1;
}

// Output the duration classes
@for $i from 1 through 5 {
    .del#{$i} {
        transition-delay: .3s * $i;
    }

    .dur#{$i} {
        transition-duration: .3s * $i;
    }
}
