@import 'variables';

body {
  height: 100%;

  font-family: $font;
  font-weight: 700;

  background-color: $lt-gray;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;

  outline: none;
}

body.opened {
  @include max($small){
    overflow: hidden;
  }
}

::selection {
  background-color: #bbf3b1;
}

:link {
  text-decoration: none;

  color: inherit;
}   

:visited {
  color: inherit;
} 

[class$='-container'] {
  width: 1170px;
  margin: 0 auto;
  
  @include max($big) {
    width: 100%;
  }
}

.logo {
  float: left;

  margin-top: 13px;

  font: 32px 'Poiret One', sans-serif;
  
  @include max($xsmall) {
    display: inline-block;
    float: none;
    margin: 20px 0;
  }
  
  span:first-child {
    color: #000;
  }

  span:last-child {
    color: #7d7d7d;
  }
  
  span {
    @include max($small) {
      display: none;
    }
  }
  
  i {
    display: none;
    font-size: 47px;
    
    @include max($small) {
      display: block;
    }
  }
}

.nav {
  position: relative;
  float: right;

  margin-top: 28px;

  font-family: Comfortaa;
  font-size: 18px;

  text-transform: capitalize;
  z-index: 10;
  
  @include max($xsmall) {
    float: none;
    margin: 0 0 20px;
    padding: 7px;
  }

  & > li {
    position: relative;

    display: inline-block;

    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    & > a {
      padding: 5px 0;
    }
    
    &:after {
      position: absolute;
      bottom: -5px;
      left: 0;

      display: block;

      width: 100%;
      height: 2px;

      content: '';
      // transition: all .4s ease;
      transition: all .4s $bouncy;
      transform: scaleX(0);
      transform-origin: 50% 0;

      opacity: 0;
      // background-color: $red;
      background-color: $yellow;
      // transition: all .3s cubic-bezier(0.275, 0.310, 0.075, 1.650);
    }

    &.active,
    &:hover {
      &:after {
        transform: scaleX(1);

        opacity: 1;
      }
    }
  }
}

.line {
  $size: 100;
  $size2: 300;
  $colors2: $red,
  $blue,
  $yellow;
  $colors: #f8b82c, #f2893b, #e3573f, #c24f79, #8966cc, #1497cb, #00b967, #9bc035;

  @include rainbow-line($size2, $colors2);

  height: 5px;
  
  @include max($small) {
    height: 8px;
  }
}

.header {
  min-height: 85px;

  border-bottom: 2px solid $sd-gray;
  background-color: #fff;
  
  @include max($xsmall) {
    min-height: 0;
    text-align: center;
  }
}

.header-container,
.copy-container {
  padding: 0 15px;
}

.content {
  min-height: 500px;

  text-align: center;
}

.cats {
  display: inline-block;

  margin: 50px 0;
  padding: 20px 50px;

  font-size: 20px;

  text-align: center;

  color: #111;
  border-bottom: 2px solid $tr-gray;
  
  @include max($small) {
    padding-left: 0;
    padding-right: 0;
  }
  
  @include max($small1) {
    width: 100%;
    border: none;
    margin: 25px 0;
  }
  
  li {
    position: relative;

    display: inline-block;

    margin-right: 25px;

    cursor: pointer;
    transition: all .4s ease;
    text-transform: capitalize;
    
    @include max($small1) {
      padding: 15px;
      margin: 0;
    }
    
    &:last-child {
      margin-right: 0;
    }


    &:before,
    &:after {
      position: absolute;
      bottom: -21px;
      left: 50%;

      display: block;

      width: 0;
      height: 0;

      content: '';
      transition: transform .4s ease;
      transform: translateX(-50%) scale(0);
      transform-origin: 50% 100%;

      border-right: 12px solid transparent;
      border-bottom: 12px solid $tr-gray;
      border-left: 12px solid transparent;
      
      @include max($small1) {
        content: none;
      }
    }

    &:after {
      bottom: -24px;

      border-bottom-color: $lt-gray;
    }

    &:hover {
      color: #aaa;
    }

    &.active {
      color: #111;
      background-color: $blue;

      &:before,
      &:after {
        transform: translateX(-50%) scale(1);
      }
    }
  }
}

.grid-container {
  min-height: 500px;
  margin-bottom: 50px;
}

.grid {
  height: 100%;
}


.grid-item {
  width: 1170/4*1px;
  height: 250px;
  margin-bottom: 30px;
  padding: 0 15px;
  
  .item-cont {
    position: relative;
    display: block;
    background-color: #ccc;
    box-shadow: 0 0 0 4px #fff, 0 0 10px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    
    height: 100%;
    img {
      max-width: 100%;

      transition: transform .3s;
      transform: scale(1);
    }


    &:hover {
      .hover-description {
        opacity: 1;
      }

      p,
      h3 {
        transform: translate(0);
      }

      .hr {
        transform: scaleX(1);
      }

      // img {
      // transform: scale(1.05);
      // }
    }
  }
  
  .view {
    display: inline-block;
    font-size: 42px;

  }
  
  .item-pic {
    overflow: hidden;

    width: 100%;
    height: 100%;
  }
  
  @include max($big) {
    width: 33.33333333%;
  }
  
  
  @include max($medium) {
    width: 50%;
  }
  
  @include max($small2) {
    width: 100%;
  }
}

.hover-description {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 93%;
  height: 93%;
  margin: auto;
  padding: 15px;
  cursor: pointer;
  transition: opacity .3s;

  opacity: 0;
  color: #fff;
  // background-color: rgba(255, 255, 255, .8);
  // color: #000;
  background-color: rgba(0, 0, 0, .7);

  .description-content {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 95%;

    transform: translate(-50%, -50%);
  }

  h3,
  p,
  .hr {
    transition: transform .3s;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;

    transform: translateY(-60px);
    text-transform: uppercase;
  }

  .hr {
    width: 55px;
    height: 2px;
    margin: 15px auto;

    transform: scaleX(0);
    transform-origin: 50% 50%;
    // background-color: #000;

    background-color: #fff;
  }

  p {
    line-height: 1.2;

    transform: translateY(60px);

    color: #e6e6e6;
  }
}


.alt-description {
  position: relative;

  width: 100%;
  height: 100%;
  margin-top: -250px;

  transition: margin .2s cubic-bezier(.420, .000, 1.000, 1.000);

  color: #000;
  background-color: #fff;
  z-index: 100;
}


.alt-content {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 90%;
  line-height: 1.5;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  h3 {
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: bold;
  }

  p {
    font-size: 14px;

    color: #a0a0a0;
    font-weight: 300;
  }

  .underline {
    width: 40px;
    height: 3px;
    margin: 15px auto;

    background-color: $blue;
  }

  .blue {
    background-color: $blue;
  }

  .yellow {
    background-color: $yellow;
  }

  .red {
    background-color: $red;
  }
}

.item-cont {
  &.active,
  &:hover {
    .alt-description {
      margin-top: 0;
    }

    .scale-description {
      transform: scale(1);

      opacity: 1;
    }
  }
}

.scale-description {
  position: absolute;
  z-index: 100;

  width: 100%;
  height: 100%;

  transition: all .4s ease;
  transform: scale(0);

  opacity: 0;
  color: #111;
  background-color: $yellow;
}

.scale-content {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 64px;

  transform: translate(-50%, -50%);
}

.footer {
  position: relative;

  text-align: center;

  color: #fff;
  background-color: #444;

  /*   &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    height: 7px;
  }
  
  &:before {
    top: 0;
    width: 450px;
    background-color: $blue;
  }
  
  &:after {
    top: 7px;
    width: 250px;
    background-color: $yellow;
  }
   */
  .line {
    $size: 200;
    $color: #555;
    $colors: $color;

    height: 8px;

    @for $i from 1 through 3 {
      $color: $color + 17*$i;
      $colors: append($colors, $color);
    }
    
    @include rainbow-line($size, $colors);
  }
}

.soc {
  padding: 28px 0 20px;

  font-size: 21px;

  li {
    display: inline-block;
  }

  a {
    position: relative;

    display: inline-block;

    width: 40px;
    height: 40px;

    transition: all .3s ease;

    border-radius: 2px;
    background-color: #333;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .vk {
    &:hover {
      color: #fff;
      background-color: #54769a;
    }
  }

  .skype {
    &:hover {
      color: #fff;
      background-color: #00a9e7;
    }
  }

  .mail {
    &:hover {
      background-color: #e34c41;
    }
  }
}

.copy {
  padding: 25px 0 20px;

  text-align: right;

  color: #5e5e5e;
  background-color: #333;
}

.curx {
  cursor: crosshair;
}

.about {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 25px;

  transition: transform .3s cubic-bezier(.7,0,.3,1);
  transform: translateX(-100%);
  
  @include max($small){
    padding: 0;
  }
  
  &.opened {
    transition-duration: .5s;
    transform: translateX(0);
  }

  &.style1 .about-content {
    color: #fff;
    background-color: rgba(67, 136, 120, .95);
  }

  &.style2 {
    & .about-content {
      color: #000;
      border-radius: 3px;
      background-color: rgba(172, 215, 203, 1);
    }

    & .about-close {
      color: #000;

      &:hover {
        color: #fff;
      }
    }
  }

  &.style3 {
    & .about-content {
      color: #000;
      border-radius: 3px;
      background-color: #ec724d;
    }

    & .about-close {
      color: #000;

      &:hover {
        color: $blue;
      }
    }
  }

  &.style4 {
    & .about-content {
      color: #000;
      border-radius: 3px;
      background-color: $yellow;
    }

    & .about-close {
      color: #000;

      &:hover {
        color: $red;
      }
    }
  }

  &.style5 {
    & .about-content {
      color: #000;
      border: 7px solid darken($blue, 5%);
      background-color: #fff;
    }

    & .about-close {
      color: #000;

      &:hover {
        color: #ccc;
      }
    }
  }
}

.about-close {
  position: absolute;
  top: 40px;
  right: 40px;

  font-size: 52px;

  cursor: pointer;
  transition: all .3s ease;

  color: #fff;
  
  @include max($small){
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,.7);
  }
  
  &:hover {
    color: $yellow;
  }
}

.about-content {
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding: 50px 90px;

  color: #fff;
  background-color: rgba(0,0,0,.95);

  -webkit-backface-visibility: hidden;
  
  @include max($small) {
    overflow-y: scroll;
    padding: 30px 30px 30px 20px;
  }
  
  h2 {
    margin-bottom: 25px;

    font: 42px 'Poiret One',sans-serif;

    text-align: center;
    text-transform: uppercase;
  }

  p {
    margin: 15px 0;

    font-size: 22px;
    font-weight: 300;
    line-height: 1.7;

    text-indent: 40px;
  }
}

.contacts {
  position: absolute;
  z-index: 100;
  top: 35px;
  left: 50%;

  display: block;
  visibility: hidden;

  font-weight: 300;

  transition: all .3s;
  transform: translateX(-50%);

  opacity: 0;
  color: rgb(103, 103, 103);
  border: 2px solid #b5b5b5;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 0 7px rgba(210,210,210, .3);

  &:before {
    position: absolute;
    top: -12px;
    left: 50%;

    display: block;

    width: 0;
    height: 0;

    content: '';
    transform: translateX(-50%);

    border-right: 12px solid transparent;
    border-bottom: 12px solid #b5b5b5;
    border-left: 12px solid transparent;
  }

  &:after {
    position: absolute;
    top: -10px;
    left: 50%;

    display: block;

    width: 0;
    height: 0;

    content: '';
    transform: translateX(-50%);

    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
  }
  
  $base-height: 18px;
  $padding: 8px;
  $mob-padding: 15px;
  
  li {
    transition: background-color .3s;

    border-bottom: 1px solid #dbdbdb;
    
    &:hover {
      background-color: rgba(210,210,210, .3);
      
      div:first-child {
        margin-top: -$padding*2 - $base-height;
        
        @include max($xsmall) {
          margin-top: -$mob-padding*2 - $base-height;
        }
      }
    }
  }

  li:last-child {
    border: none;
  }
  
  a {
    display: block;
    height: $base-height + 2*$padding;
    overflow: hidden;
    
    @include max($xsmall) {
      height: $base-height + 2*$mob-padding;
    }
  }
  
  div {
    padding: $padding;
    transition: all .3s ease;
    // width: 235px;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    
    @include max($xsmall) {
      padding: $mob-padding;
    }
  }
}

.active {
  & .contacts {
    visibility: visible;

    opacity: 1;
  }
}

$border-size: 5px;
.hover-border:before,
.hover-border:after {
  position: absolute;
  z-index: 200;

  display: block;

  box-sizing: border-box;
  width: 0;
  height: 0;

  content: '';
  transition: none;

  border: 0 solid #5b5b5b;
}

.hover-border:after {
  right: 0;
  bottom: 0;
}

.hover-border:hover:before,
.hover-border:hover:after {
  width: 100%;
  height: 100%;

  transition: width .3s 0s ease, height .3s .3s ease-out;

  border-width: $border-size $border-size 0 0;
}

.hover-border:hover:after {
  border-width: 0 0 $border-size $border-size;
}

.hover-border .hover-description {
  width: 100%;
  height: 100%;

  color: #000;
  background-color: #dfdfdf;

  h3,
  p {
    // transform: translate(0);
    color: #000;
  }
  h3 {
    transform: translate(30px);
  }

  p {
    transform: translate(-30px);
  }

  .hr {
    background-color: #000;
  }
}

.marker {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  font-size: 32px;
  color: #fff;
  background-color: rgb(42, 145, 67);
  border-radius: 50%;
}

$default-transition: all 1s ease-out;
.scale-up {
  transition: $default-transition;
  transform: scale(0);

  opacity: 0;

  &.in {
    transform: scale(1);

    opacity: 1;
  }
} 

.slide-up {
  transition: $default-transition;
  transform: translateY(200px);

  opacity: 0;
}

.slide-down {
  transition: $default-transition;
  transform: translateY(-200px);

  opacity: 0;
}

.slide-left {
  transition: $default-transition;
  transform: translate(-100px);

  opacity: 0;
} 

.slide-right {
  transition: $default-transition;
  transform: translate(100px);

  opacity: 0;
} 

.in {
  transform: translate(0);

  opacity: 1;
} 

@for $i from 1 through 5 {
  .del#{$i} {
    transition-delay: .3s * $i;
  }
  .dur#{$i} {
    transition-duration: .3s * $i;
  }
}
